[Unit]
Description=my.service
After=network.target

[Service]
User=authz
WorkingDirectory=/home/authz/git
ExecStart=/bin/bash -c "poetry run flask --app main.py run"

[Install]
WantedBy=multi-user.target
